<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration or Sign Up form for admins</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap">
    <link rel="stylesheet" href="/css/Signup_styling.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Oswald:wght@600&family=Poppins:wght@300;600&family=Righteous&family=Roboto+Slab:wght@100..900&family=Rubik:ital@1&display=swap"
        rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/js/signup.js"></script>
    <script>
        function disableFields(disable, container) {
            container.querySelectorAll("input, select").forEach(function (input) {
                input.disabled = disable;
            });
        }

        function validateForm() {
            var email = document.getElementById('email').value.trim();
            var password = document.getElementById('password').value.trim();
            var fname = document.getElementById('firstname').value.trim();
            var lname = document.getElementById('lastname').value.trim();
            var age = document.getElementById('age').value.trim();
            var phone = document.getElementById('phone').value.trim();
            var address = document.getElementById('address').value.trim();
            var emailError = document.getElementById("error-email");
            var passError = document.getElementById("error-pass");
            var lname_error = document.getElementById("error-lname");
            var fname_error = document.getElementById("error-fname");
            var age_error = document.getElementById("error-age");
            var address_error = document.getElementById("error-address");
            var phone_error = document.getElementById("error-phone");

            var isValid = true;

            if (!email) {
                emailError.textContent = "Email is required";
                isValid = false;
                return false;
            }

            if (password === "") {
                passError.textContent = "Password can't be empty";
                isValid = false;
                return false;
            }
            if (password.length < 6) {
                passError.textContent = "Password cannot be less than 6 characters";
                isValid = false;
                return false;
            }

            if (!isValid) {
                event.preventDefault();
            }
            return isValid;
        }
    </script>
</head>

<style>
    body {
        background-image: url('../images/white.jpg');
        background-color: antiquewhite;
        background-position: center;
        background-size: contain;
        margin-top: 50px;
        /* Adjust margin to account for the top bar */
    }

    .container {
        margin-left: 270px;
        /* Adjust to fit the sidebar width */
        padding-top: 10px;
        /* Add some padding at the top if needed */
    }
</style>

<body>
    <div th:include="navigation">

    </div>
    <div class="container mt-5">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Department Registration</h2>
                <form th:action="@{/admin/addDepartment}" th:object="${newDepartment}" method="post">
                    <div class="form-group">
                        <label for="name">Department Name:</label>
                        <input type="text" class="form-control" id="departmentname" th:field="*{departmentname}" placeholder="Department Name" required>
                        <div th:if="${#fields.hasErrors('departmentname')}" th:errors="*{departmentname}">Department name is required</div>
                    </div>
                    <button id="submit" type="submit" class="btn btn-primary" name="submit">ADD</button>
                </form>



            </div>






            
        </div>
    </div>
    </div>
</body>

</html>