<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/admin2.css">
    <link rel="stylesheet" href="../css/patient.css">
    <link rel="stylesheet" href="../css/navigation.css">
    <link rel="stylesheet" href="../css/viewTables.css">
    <link rel="stylesheet" href="../css/CSHome.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap" rel="stylesheet">
    <title>Canal Sugar</title>
</head>

<style>
    .target-vs-sales--container {
        background-image: url('../images/CSHOME.jpg');
    }
    table.table tbody td:hover {
     background-color: darkgreen;
     color: white;
    }
</style>

<body class="body">
    <div th:insert="navigation"></div>

    <div class="main--container">
        <div class="section--title">
            <div class="sales--value">
                <h3 class="uppercase-text">Welcome <span th:text="${FNAME}"></span>!</h3>
            </div>
        </div>
        <div class="target-vs-sales--container" id="imageSlider">
            <div class="target--vs--sales">
                <canvas id="tarsale"></canvas>
            </div>
        </div>
        <div class="table">
            <div class="section--title">
                <h3 class="title">RECENTLY ADDED ASSETS</h3>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Asset Name</th>
                        <th>Asset Model</th>
                        <th>Asset Serial</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="asset : ${last4Assets}">
                        <td th:text="${asset.assetname}"></td>
                        <td th:text="${asset.assetmodel}"></td>
                        <td th:text="${asset.assetserial}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

<!-- <script src="../js/CSHome.js"></script> -->

</html>
