<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/loginn.css">
    <script src="../js/login.js"></script>



 

</head>

<body>
    <div class="login-container">
        <h1>WELCOME</h1>
        <form id="login-form" th:action="@{/admin/Login}" method="POST" onsubmit="return validateLoginForm()">
            <input class="login-field" type="text" name="email" id="email" placeholder="Email">
            <span id="email-error" class="error-message"></span>

            <input class="login-field" type="password" name="pass" id="pass" placeholder="Password">
            <span id="pass-error" class="error-message"></span>

            <div th:if="${error}" class="error-message" style="color: red;">
                <p th:text="${error}"></p>
            </div>
        

            <span id="Error-login" class="error-message"></span>
            <button type="submit" class="submit-btn">Login</button>
        </form>
    </div>

 
</body>

</html>
